.btn-danger{
  padding: 2px 2px;
  border-radius: 10px 10px 10px 10px;
  margin-left: 85px;
}

.dataHora {
  font-size: 12px;
  margin-left: 60px;
  color: #2a6496;
}

.btn-info{
  padding: 2px 2px;
  border-radius: 10px 10px 10px 10px;
  margin-left: 0px;
}

#descricao {
  font-size: 16px;
  color: #b00020;
}

#color {
  background-color: #b00020;
}

div {
  /*border: 1px solid red;*/
}
